<section id="about" class="st-about-wrap">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">ABOUT ME</h4>
      <h2 class="st-section-heading-subtitle">ABOUT ME</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="st-vertical-middle">
          <div class="st-vertical-middle-in">
            <div class="st-text-block st-style1">
              <h2 class="st-text-block-title">
                Hi There! I'm Leandro Tercette
              </h2>
              <h4 class="st-text-block-subtitle">Software Engineer</h4>
              <div class="st-text-block-text">
                <p>
                  Full-stack developer with nearly 8 years of experience specializing
                  in JavaScript, TypeScript, Angular, Node.js, React, and .NET.
                  Passionate about integrating Artificial Intelligence into applications,
                  building smart solutions with machine learning and AI-powered features.
                  I also have extensive expertise designing motion simulation systems,
                  including 6DOF hexapod platforms for driving and flight simulators.
                </p>
              </div>
              <ul class="st-text-block-details st-mp0">
                <li>
                  <span>Birthday</span> : <span>August 04, 1976</span>
                </li>
                <li>
                  <span>Phone</span> :
                  <span
                    ><a href="tel:+5511991485161"
                      >+5511-99148-5161</a
                    ></span
                  >
                </li>
                <li>
                  <span>Email</span> :
                  <a href="mailto:leandroter7@gmail.com"
                    >&nbsp;&nbsp;leandroter7@gmail.com</a
                  >
                </li>
                <li><span>From</span> : <span>Sao Paulo - Brazil</span></li>
                <li>
                  <span>Language</span> : <span>English, Portuguese</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
