<section id="portfolio">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">PORTFOLIOS</h4>
      <h2 class="st-section-heading-subtitle">PORTFOLIOS</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a routerLink="/simulators" class="st-portfolio st-zoom st-lightbox-item" >
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/portfolio1.jpg"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>SolidWorks CAE Especialist</h5>
                <p>Engineering</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a (click)="app()" class="st-portfolio st-zoom st-lightbox-item">
              <div  class="st-portfolio-img st-zoom-in">
                <img  src="assets/img/front.png" alt="portfolio" />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Front-end Developer</h5>
                <p>Engineering</p>

              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a routerLink="/simulators" class="st-portfolio st-zoom st-lightbox-item">
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/portfolio3.jpg"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Product Design</h5>
                <p>Fast Prototyping</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a routerLink="/simulators" class="st-portfolio st-zoom st-lightbox-item">
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/portfolio4.jpg"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Motion System Products</h5>
                <p>Controls Engineering</p>
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a routerLink="/simulators" class="st-portfolio st-zoom st-lightbox-item">
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/portfolio5.jpg"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Product Design</h5>
                <p>Design / Marketing</p>
              </div>
            </a>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="st-portfolio-single st-style1 st-lightgallery">
          <div class="st-portfolio-item">
            <a routerLink="/simulators" class="st-portfolio st-zoom st-lightbox-item">
              <div class="st-portfolio-img st-zoom-in">
                <img
                  src="assets/img/portfolio/portfolio6.jpg"
                  alt="portfolio"
                />
              </div>
              <div class="st-portfolio-item-hover">
                <i class="fas fa-plus-circle"></i>
                <h5>Hiper Reality Systems</h5>
                <p>Cutting Edge</p>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="st-height-b100 st-height-lg-b80"></div>
  <div style="display: block; text-align: center">
    <a routerLink="/simulators"
      ><button class="st-btn st-style1 st-color1 st-smooth-move">
        Click here to know more about simulators
      </button></a
    >
  </div>
</section>
