<section class="st-dark-bg">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">RECOMMENDATIONS</h4>
      <h2 class="st-section-heading-subtitle">LinkedIn Recommendations</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>


  <div class="container">
    <div class="st-slider st-style1 st-reviews-wrap">
      <div
        class="slick-container"
        data-autoplay="0"
        data-loop="1"
        data-speed="600"
        data-center="0"
        data-slides-per-view="responsive"
        data-xs-slides="1"
        data-sm-slides="2"
        data-md-slides="3"
        data-lg-slides="3"
        data-add-slides="3"
      >
        <div class="slick-wrapper">
          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "I had the pleasure of working with Leandro on a challenging
                  project, where he quickly became a key contributor through
                  his proactive attitude and technical expertise. With nearly
                  8 years of experience as a full-stack developer, Leandro
                  stands out for his strong background in web development,
                  agile methodologies, and a wide range of technologies."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Luis Amaral.jfif" class="imgTestimonial" alt="Luis Felipe" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Luís Felipe A. Amaral</h4>
                  <div class="st-testimonial-designation">
                    Product Designer @ Expedia
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is an excellent professional, he has technical
                  knowledge in his field and has great communication skills
                  to manage and help the team deliver on its demands. It was
                  a pleasure working with him and I hope we can work together
                  again in the future."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Andrius.jfif" class="imgTestimonial" alt="Andrius" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Andrius Salgado</h4>
                  <div class="st-testimonial-designation">
                    Front-end Developer | Fullstack Developer
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "I had the privilege of working alongside Leandro on a
                  complex e-commerce project at Robert Bosch, where he
                  demonstrated outstanding skills as a Front-End Developer.
                  His expertise in React and TypeScript was instrumental in
                  creating a seamless and responsive user experience."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Carlos Balderas.jfif" class="imgTestimonial" alt="Carlos" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Carlos Balderas</h4>
                  <div class="st-testimonial-designation">
                    .NET Developer at Cuidado con El Perro
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "I had the pleasure of working with Leandro. I highly
                  appreciate his proactive and direct communication. It
                  enabled the team and him to resolve various issues quickly.
                  I'm looking forward to working with him again."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Michael.jfif" class="imgTestimonial" alt="Michael" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Michael Hinterseher</h4>
                  <div class="st-testimonial-designation">
                    Cybersecurity Leader | DevSecOps
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "I am delighted to recommend Leandro. He is a senior
                  fullstack professional with a strong focus on frontend
                  development, particularly using Angular. His expertise in
                  RxJS, NgRx, and Angular Universal is simply impressive.
                  Additionally, he excels in React and .NET Core."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Rafael.jfif" class="imgTestimonial" alt="Rafael" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Rafael Palma Soares</h4>
                  <div class="st-testimonial-designation">
                    Software Engineer | .Net Specialist
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Tenho o prazer de recomendar Leandro Tercette, um
                  desenvolvedor frontend talentoso em JavaScript e um
                  excelente colaborador em equipe. Trabalhamos juntos em
                  alguns projetos freelancers e ele sempre entregou
                  resultados de alta qualidade no prazo."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Brayan.jfif" class="imgTestimonial" alt="Brayan" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Brayan Sutil</h4>
                  <div class="st-testimonial-designation">
                    TechLead | React-Native | React
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is one of the best developers I've worked with,
                  highly motivated and highly qualified. In the projects we
                  worked on together, he was able to deliver quickly and with
                  quality, he managed to be transparent and direct with
                  customers."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Matheus.jfif" class="imgTestimonial" alt="Matheus" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Matheus Santos</h4>
                  <div class="st-testimonial-designation">
                    Lead Mobile Developer | React Native
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is a very precise engineer. He works with maximum
                  concentration, deeply analysing requirements, market leading
                  solutions and the technologies available before choosing how
                  to proceed. We worked together, for many years. Always
                  happily and friendly!"
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/Massimo.jfif" class="imgTestimonial" alt="Massimo" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Massimo Strano</h4>
                  <div class="st-testimonial-designation">
                    Owner and Managing Director
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is a very knowledgeable engineer that is very
                  innovative and is always looking to improve on existing
                  designs. I would recommend him for any major control
                  system integration project."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/mike.jpg" class="imgTestimonial" alt="mike" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Mike Wilson</h4>
                  <div class="st-testimonial-designation">
                    Senior Manager - Global Technology and Infrastructure at
                    Deloitte & Touche
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>"The right guy for mecatronics."</p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/jack.jpg" class="imgTestimonial" alt="client2" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Jack Rubinstein</h4>
                  <div class="st-testimonial-designation">
                    Architect, inventor, attraction designer.
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is a skilled and incredibly passionate control
                  engineer. The first time we met his works with motion
                  platforms amazed me and sometime later, we had the
                  opportunity to work together on one of his most advanced
                  control system at the time. He is very enthusiastic and
                  resourceful when it comes to control hardware and
                  mechanical actuator systems."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/vini.jpg" class="imgTestimonial" alt="client3" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">
                    Vinicius de ALmeida Lima
                  </h4>
                  <div class="st-testimonial-designation">
                    Engenheiro de Simulações Veiculares na Potential Motors
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "O Leandro possui grande conhecimento e experiência na área.
                  Sempre buscando a excelência naquilo que realiza."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/wesley.jfif" class="imgTestimonial" alt="Wesley" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Wesley</h4>
                  <div class="st-testimonial-designation">
                    Supervisor Logístico
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Profissional extremamente capacitado. Fluente em algumas
                  línguas, o mesmo consegue dar apoio em projetos de pequeno
                  e grande porte. Tendo amplo conhecimento e experiência na
                  área, o Leandro tem sempre ideias e soluções práticas! Sem
                  dúvidas um profissional que tenho o imenso prazer em fazer
                  recomendações."
                </p>
                <br />
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/caique.jpg" class="imgTestimonial" alt="client1" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">José Caique Marques</h4>
                  <div class="st-testimonial-designation">
                    Assistente comercial na N.A. Equipamentos
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Se você procura por um profissional, que antes de tudo é
                  entusiasta e se empenha ao máximo em tudo que faz, que
                  corre atrás para conhecer mais do produto indo além do
                  considerado "normal" para oferecer aos clientes, então
                  você precisa conhecer o Leandro."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/rodrigo.jpg" class="imgTestimonial" alt="client2" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Rodrigo Roberti</h4>
                  <div class="st-testimonial-designation">
                    Gestor de Acessos | Emphasys IT Services
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro destaca-se pela sua persistência e conhecimento
                  em tecnologias voltadas para o ramo de programação e
                  construção de simuladores."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/joao.jpg" class="imgTestimonial" alt="client3" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Joao Victor Almeida</h4>
                  <div class="st-testimonial-designation">
                    Analista de Especificações Técnicas I | Krones do Brasil
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination st-style1 st-flex st-hidden"></div>
      <div class="swipe-arrow st-style1 st-hidden">
        <div class="slick-arrow-left">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="slick-arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
