<section class="st-dark-bg">
  <div class="st-height-b100 st-height-lg-b80"></div>
  <div class="container">
    <div class="st-section-heading st-style1">
      <h4 class="st-section-heading-title">REVIEWS</h4>
      <h2 class="st-section-heading-subtitle">REVIEWS</h2>
    </div>
    <div class="st-height-b25 st-height-lg-b25"></div>
  </div>


  <div class="container">
    <div class="st-slider st-style1 st-reviews-wrap">
      <div
        class="slick-container"
        data-autoplay="0"
        data-loop="1"
        data-speed="600"
        data-center="0"
        data-slides-per-view="responsive"
        data-xs-slides="1"
        data-sm-slides="2"
        data-md-slides="3"
        data-lg-slides="3"
        data-add-slides="3"
      >
        <div class="slick-wrapper">
          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is a very knowledgeable engineer that is very
                  innovative and is always looking to improve on existing
                  designs. I would recommend him for any major control
                  system integration project."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/mike.jpg" class="imgTestimonial" alt="mike" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Mike Wilson</h4>
                  <div class="st-testimonial-designation">
                    Senior Manager - Global Technology and Infrastructure at
                    Deloitte & Touche
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>"The right guy for mecatronics."</p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/jack.jpg" class="imgTestimonial" alt="client2" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Jack Rubinstein</h4>
                  <div class="st-testimonial-designation">
                    Architect, inventor, attraction designer.
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro is a skilled and incredibly passionate control
                  engineer. The first time we met his works with motion
                  platforms amazed me and sometime later, we had the
                  opportunity to work together on one of his most advanced
                  control system at the time. He is very enthusiastic and
                  resourceful when it comes to control hardware and
                  mechanical actuator systems."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/vini.jpg" class="imgTestimonial" alt="client3" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">
                    Vinicius de ALmeida Lima
                  </h4>
                  <div class="st-testimonial-designation">
                    Engenheiro de Simulações Veiculares na Potential Motors
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Profissional extremamente capacitado. Fluente em algumas
                  línguas, o mesmo consegue dar apoio em projetos de pequeno
                  e grande porte. Tendo amplo conhecimento e experiência na
                  área, o Leandro tem sempre ideias e soluções práticas! Sem
                  dúvidas um profissional que tenho o imenso prazer em fazer
                  recomendações."
                </p>
                <br />
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/caique.jpg" class="imgTestimonial" alt="client1" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">José Caique Marques</h4>
                  <div class="st-testimonial-designation">
                    Assistente comercial na N.A. Equipamentos
                  </div>
                </div>
                <br />
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Se você procura por um profissional, que antes de tudo é
                  entusiasta e se empenha ao máximo em tudo que faz, que
                  corre atrás para conhecer mais do produto indo além do
                  considerado "normal" para oferecer aos clientes, então
                  você precisa conhecer o Leandro."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/rodrigo.jpg" class="imgTestimonial" alt="client2" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Rodrigo Roberti</h4>
                  <div class="st-testimonial-designation">
                    Gestor de Acessos | Emphasys IT Services
                  </div>
                  <br />
                </div>
              </div>
            </div>
          </div>

          <div class="slick-slide-in">
            <div
              class="st-testimonial st-style1 wow fadeInLeft"
              data-wow-duration="0.8s"
              data-wow-delay="0.2s"
            >
              <div class="st-testimonial-text">
                <p>
                  "Leandro destaca-se pela sua persistência e conhecimento
                  em tecnologias voltadas para o ramo de programação e
                  construção de simuladores."
                </p>
                <div class="st-quote">
                  <img src="assets/img/icon/quote.png" alt="quote" />
                </div>
              </div>
              <div class="st-testimonial-info">
                <div class="st-testimonial-img">
                  <img src="assets/img/client/joao.jpg" class="imgTestimonial" alt="client3" />
                </div>
                <div class="st-testimonial-meta">
                  <h4 class="st-testimonial-name">Joao Victor Almeida</h4>
                  <div class="st-testimonial-designation">
                    Analista de Especificações Técnicas I | Krones do Brasil
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination st-style1 st-flex st-hidden"></div>
      <div class="swipe-arrow st-style1 st-hidden">
        <div class="slick-arrow-left">
          <i class="fa fa-chevron-left"></i>
        </div>
        <div class="slick-arrow-right">
          <i class="fa fa-chevron-right"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="st-height-b100 st-height-lg-b80"></div>
</section>
