@media only screen and (max-device-width :700px) {
  body {
    background: none;
  }
}

@media only screen and (min-device-width: 701px) {
  body {
    background-repeat: no-repeat;
    background-image: src="assets/img/leandro2.PNG";
    background-attachment: fixed;
    background-position: left, right
  }
}

iframe {

  margin: auto;
  display: flex;
  height: 700px;
  max-width: 1000px;


  width: 100%;
  height: 100%;
  object-fit: cover;
}

.ng-invalid.ngtouched:not(form) {
  border: 1px solid red;
}

 .fadeInRight {
  border-radius: 50%;
}

.imgTestimonial {
  border-radius: 50%;
}
